<a href="https://colab.research.google.com/github/madhavbharuletech/data-analytics-bootcamp-work/blob/main/bootcamp_python_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
"""
PYTHON LEARNING MASTER FILE
Author: Madhav S. Bharule

Description:
This file combines all my Python learning exercises,
classroom tasks, and practice problems.

It shows my progression from fundamentals to
data handling and problem solving.
"""

# =========================================================
# SECTION 1 — VARIABLES & TYPES
# =========================================================
print("\n===== VARIABLES & TYPES =====")

myName = "Madhav"
print("Name:", myName)
print("Type:", type(myName))
print("Length:", len(myName))


# =========================================================
# SECTION 2 — AGE CALCULATION
# =========================================================
print("\n===== AGE CALCULATION =====")

from datetime import date

birthdate = date(1990, 5, 25)
today = date.today()

age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
print("Age:", age)


# =========================================================
# SECTION 3 — CONDITIONAL LOGIC
# =========================================================
print("\n===== CONDITIONAL LOGIC =====")

number = -5

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")


# =========================================================
# SECTION 4 — FIZZBUZZ
# =========================================================
print("\n===== FIZZBUZZ (1–20 SAMPLE) =====")

for i in range(1, 21):
    if i % 15 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)


# =========================================================
# SECTION 5 — LIST OPERATIONS
# =========================================================
print("\n===== LIST OPERATIONS =====")

list1 = ["USA", "China", "India"]
list2 = ["Germany", "Japan", "France"]

list1.extend(list2)
print("Combined:", list1)

list1.pop(2)
print("Removed third element:", list1)

list1.remove("Germany")
print("Removed Germany:", list1)

list1.clear()
print("Cleared list:", list1)


# =========================================================
# SECTION 6 — SETS PRACTICE
# =========================================================
print("\n===== SETS =====")

learner_skills = {"sql", "excel", "python"}

if {"sql", "excel", "python"}.issubset(learner_skills):
    print("Expert Data Analyst")
elif {"sql", "excel"}.issubset(learner_skills):
    print("Good Data Analyst")
else:
    print("Still learning")

europe = {"UK", "Norway", "Switzerland", "France"}
eu = {"France"}
print("Non EU countries:", europe - eu)


# =========================================================
# SECTION 7 — DICTIONARIES
# =========================================================
print("\n===== DICTIONARY BASICS =====")

student = {
    "name": "Madhav",
    "age": 36,
    "city": "Newcastle",
    "course": "Data Analytics"
}

print("Name:", student["name"])

student["age"] = 37
print("Updated:", student)

new_dict = {}
new_dict["language"] = "Python"
print("New dictionary:", new_dict)


print("\n===== CAR DICTIONARY =====")

car = {"brand": "Toyota", "model": "Corolla", "year": 2024}
car["color"] = "White"

for key, value in car.items():
    print(f"{key} : {value}")


print("\n===== DICTIONARY WITH LIST =====")

items = ["Laptop", "Mouse", "Keyboard", "Monitor"]

student2 = {"name": "Madhav", "course": "Python"}
student2["items"] = items

print("Second item:", student2["items"][1])
print("Keys:", student2.keys())
print("Values:", student2.values())

for key, value in student2.items():
    print(f"{key} : {value}")


# =========================================================
# SECTION 8 — WHILE LOOP
# =========================================================
print("\n===== WHILE LOOP =====")

num = 1
while num <= 20:
    print(num, end=" ")
    num += 1
print()


# =========================================================
# SECTION 9 — EVEN NUMBERS
# =========================================================
print("\n===== EVEN NUMBERS =====")

for num in range(0, 101, 2):
    print(num, end=" ")
print()


# =========================================================
# SECTION 10 — PANDAS INTRODUCTION
# =========================================================
print("\n===== PANDAS SECTION =====")

import pandas as pd

df = pd.read_csv("student.csv")

print("\n--- FIRST ROWS ---")
print(df.head())

print("\n--- INFO ---")
print(df.info())

print("\n--- DESCRIBE ---")
print(df.describe())


# =========================================================
# SECTION 11 — FILTERING
# =========================================================
print("\n===== FILTERING =====")

print(df[df['class'] == "Four"])
print(df[(df['class'] == "Four") & (df['gender'] == "Male")])
print(df.query("mark > 75"))


# =========================================================
# SECTION 12 — DATA MANIPULATION
# =========================================================
print("\n===== DATA MANIPULATION =====")

df['passed'] = df['mark'] >= 60
print(df.head())


# =========================================================
# SECTION 13 — GROUPING
# =========================================================
print("\n===== GROUPING =====")

print(df.groupby('class')['mark'].mean())
print(df.groupby('gender')['mark'].mean())


# =========================================================
# SECTION 14 — PIVOT TABLE
# =========================================================
print("\n===== PIVOT TABLE =====")

pivot = df.pivot_table(values='mark', index='class', columns='gender')
print(pivot)


# =========================================================
# SECTION 15 — NULL VALUES
# =========================================================
print("\n===== NULL VALUES =====")

print(df.isnull().sum())
print("Total nulls:", df.isnull().sum().sum())


# =========================================================
# SECTION 16 — FEATURE ENGINEERING
# =========================================================
print("\n===== CREATE GRADES =====")

df['grade'] = df['mark'].apply(
    lambda x: 'A' if x >= 85 else
              'B' if x >= 70 else
              'C' if x >= 60 else
              'D'
)

print(df[['name', 'mark', 'grade']])


# =========================================================
# SECTION 17 — SORTING
# =========================================================
print("\n===== SORTING =====")

sorted_df = df.sort_values(by='mark', ascending=False)
print(sorted_df[['name', 'mark']])


# =========================================================
# SECTION 18 — EXPORT DATA
# =========================================================
print("\n===== SAVE FILE =====")

df.to_csv("students_with_grades.csv", index=False)
print("File saved successfully")


# =========================================================
# FINAL REFLECTION
# =========================================================
print("\n===== LEARNING REFLECTION =====")

print("""
This master file combines all my learning exercises.

It demonstrates:
✔ Python basics
✔ Loops and logic
✔ Data structures
✔ Problem solving
✔ Pandas data analysis

This file represents my learning journey as I build
skills in Python and data analytics.
""")

===== VARIABLES & TYPES =====
Name: Madhav
Type: <class 'str'>
Length: 6

===== AGE CALCULATION =====
Age: 35

===== CONDITIONAL LOGIC =====
Negative

===== FIZZBUZZ (1–20 SAMPLE) =====
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz

===== LIST OPERATIONS =====
Combined: ['USA', 'China', 'India', 'Germany', 'Japan', 'France']
Removed third element: ['USA', 'China', 'Germany', 'Japan', 'France']
Removed Germany: ['USA', 'China', 'Japan', 'France']
Cleared list: []

===== SETS =====
Expert Data Analyst
Non EU countries: {'Switzerland', 'Norway', 'UK'}

===== DICTIONARY BASICS =====
Name: Madhav
Updated: {'name': 'Madhav', 'age': 37, 'city': 'Newcastle', 'course': 'Data Analytics'}
New dictionary: {'language': 'Python'}

===== CAR DICTIONARY =====
brand : Toyota
model : Corolla
year : 2024
color : White

===== DICTIONARY WITH LIST =====
Second item: Mouse
Keys: dict_keys(['name', 'course', 'items'])
Values: dict_values(['Madhav', 'Python', ['Laptop', 'Mouse', 'Keyboard', 'Monitor']])
name : Madhav
course : Python
items : ['Laptop', 'Mouse', 'Keyboard', 'Monitor']

===== WHILE LOOP =====
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

===== EVEN NUMBERS =====
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

===== PANDAS SECTION =====

--- FIRST ROWS ---
   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB
None

--- DESCRIBE ---
              id       mark
count  35.000000  35.000000
mean   18.000000  74.657143
std    10.246951  16.401117
min     1.000000  18.000000
25%     9.500000  62.500000
50%    18.000000  79.000000
75%    26.500000  88.000000
max    35.000000  96.000000

===== FILTERING =====
    id         name class  mark  gender
0    1     John Deo  Four    75  female
3    4   Krish Star  Four    60  female
4    5    John Mike  Four    60  female
5    6    Alex John  Four    55    male
9   10     Big John  Four    55  female
15  16        Gimmy  Four    88    male
20  21   Babby John  Four    69  female
30  31  Marry Toeey  Four    88    male
Empty DataFrame
Columns: [id, name, class, mark, gender]
Index: []
    id         name  class  mark  gender
1    2     Max Ruin  Three    85    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
34  35   Rows Noump    Six    88  female

===== DATA MANIPULATION =====
   id        name  class  mark  gender  passed
0   1    John Deo   Four    75  female    True
1   2    Max Ruin  Three    85    male    True
2   3      Arnold  Three    55    male   False
3   4  Krish Star   Four    60  female    True
4   5   John Mike   Four    60  female    True

===== GROUPING =====
class
Eight    79.000000
Fifth    78.000000
Five     80.000000
Four     68.750000
Nine     41.500000
Seven    77.600000
Six      82.571429
Three    73.666667
Name: mark, dtype: float64
gender
female    77.312500
male      71.588235
Name: mark, dtype: float64

===== PIVOT TABLE =====
gender  female  male
class
Eight      NaN  79.0
Fifth      NaN  78.0
Five       NaN  80.0
Four      63.8  77.0
Nine      65.0  18.0
Seven     81.4  73.8
Six       89.2  54.0
Three      NaN  70.0

===== NULL VALUES =====
id        0
name      1
class     1
mark      0
gender    2
passed    0
dtype: int64
Total nulls: 4

===== CREATE GRADES =====
           name  mark grade
0      John Deo    75     B
1      Max Ruin    85     A
2        Arnold    55     D
3    Krish Star    60     C
4     John Mike    60     C
5     Alex John    55     D
6   My John Rob    78     B
7        Asruid    85     A
8       Tes Qry    78     B
9      Big John    55     D
10       Ronald    89     A
11        Recky    94     A
12          Kty    88     A
13         Bigy    88     A
14     Tade Row    88     A
15        Gimmy    88     A
16        Tumyu    54     D
17        Honny    75     B
18        Tinny    18     D
19       Jackly    65     C
20   Babby John    69     C
21       Reggid    55     D
22        Herod    79     B
23    Tiddy Now    78     B
24     Giff Tow    88     A
25       Crelea    79     B
26          NaN    81     B
27    Rojj Base    86     A
28  Tess Played    55     D
29    Reppy Red    79     B
30  Marry Toeey    88     A
31    Binn Rott    90     A
32    Kenn Rein    96     A
33     Gain Toe    69     C
34   Rows Noump    88     A

===== SORTING =====
           name  mark
32    Kenn Rein    96
11        Recky    94
31    Binn Rott    90
10       Ronald    89
30  Marry Toeey    88
34   Rows Noump    88
24     Giff Tow    88
14     Tade Row    88
15        Gimmy    88
12          Kty    88
13         Bigy    88
27    Rojj Base    86
7        Asruid    85
1      Max Ruin    85
26          NaN    81
29    Reppy Red    79
25       Crelea    79
22        Herod    79
6   My John Rob    78
23    Tiddy Now    78
8       Tes Qry    78
17        Honny    75
0      John Deo    75
33     Gain Toe    69
20   Babby John    69
19       Jackly    65
3    Krish Star    60
4     John Mike    60
2        Arnold    55
5     Alex John    55
9      Big John    55
21       Reggid    55
28  Tess Played    55
16        Tumyu    54
18        Tinny    18

===== SAVE FILE =====
File saved successfully

===== LEARNING REFLECTION =====

This master file combines all my learning exercises.

It demonstrates:
✔ Python basics
✔ Loops and logic
✔ Data structures
✔ Problem solving
✔ Pandas data analysis

This file represents my learning journey as I build
skills in Python and data analytics.